body {
    margin: 0;
    padding-bottom: 0;
    height: 100vh;
    background-image: linear-gradient(to bottom, black, white);

}
#particles-js {
    background: black;
    height: 100%;
}
::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: black;
}

::-webkit-scrollbar-thumb {
	background: #dbdbdb;
}

.top-left-container {
    position: absolute;
    /* text-align: center; */
    /* top: 0%;
    width: 100%; */
    top: 0%;
    left: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
}
.top-left-container h1 {
    color: white;
    font-size: 35px;
    margin-top: 2.5vh;
}

.top-right-container {
    position: absolute;
    /* text-align: ; */
    /* top: 0%; */
    width: 50vh; 
    top: 0%;
    right: 2.5vh;
    border-bottom: 2px solid white;
    display: flex; justify-content: space-around;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-right-container h1 {
    color: white;
    font-size: 20px;
    margin-top: 2.5vh;
}

.content-container {
    display: flex; justify-content: center;
    margin-top: 8vh;
    padding-bottom: 8vh;
}

.content-container #content-board {
    border-radius: 15px 15px 15px 15px;
    background-image: linear-gradient(to bottom right, rgb(47, 47, 47), white);
    padding: 20px;

    width: 80vw;
    height: 150px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.content-container #content-board #duplicate {
    border-radius: 15px 15px 15px 15px;
    background-image: linear-gradient(to bottom right, rgb(47, 47, 47), white);
    padding: 20px;
    margin-top: 0;

    width: 80vw;
    height: 150px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.content-container #content-board #duplicate #text {
    color: rgb(221, 221, 221);
    float: left;
    width: 45%;
}

.content-container #content-board #duplicate #text #description {
    color: rgb(221, 221, 221);
    float: left;
    
}

.content-container #content-board #duplicate img {
    float: right;
    right: 0;
    width: 200px;
    height: 150px;
}